# Default ignored files
/workspace.xml
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/src/main/resources/application.yml
/sadis.gradle
/sadisrepo.gradle
